<h1>This is secret Page</h1>
<img src="https://images.unsplash.com/photo-1483706600674-e0c87d3fe85b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1382&q=80" alt="No Secrets">
<li><a href="/register">Register</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/login">Login</a></li>